.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fcf8f3;
  /* Use viewport height so footer can be pinned at bottom on short pages */
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header-wrap {
  min-height: 5rem;
  min-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header-logo img {
  width: auto;
  height: 2rem;
}

.App-title h1 {
  margin: 0;
}

.App-title {
  background-color: #11133c;
  color: white;
  padding: 1rem;
  font-size: x-large;
  font-family: "Gill Sans Extrabold", sans-serif;
}

p {
  line-height: 1.6;
  font-size: xx-large;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-footer {
  background-color: #11133c;
  color: white;
  padding: 0.4rem;
  position: relative;
}

.App-footer-wrap p {
  font-size: small;
}

.App-footer-wrap p a {
  color: white;
}